h1,h2
{
  color: green;
  font-family:Arial;  
}

article
{backgroun-color: pink;
background image: {"https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.kinship.com%2Fdog-behavior%2Fsingleton-puppies&psig=AOvVaw3UzoatSm495qTHbKST_tIF&ust=1749845800232000&source=images&cd=vfe&opi=89978449&ved=0CBYQjRxqFwoTCNCKvNzZ7I0DFQAAAAAdAAAAABAE"}}
width: 500
height: 500
color: blue;
font family: Arial;
}

body
{
background-color: pink;
color:black ;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div p
{
    color:blue;
}

a:hover
{
    color:black;
}

input[type="text"]
{
    border:1px solid purple;
}